/*Todo*/
*{
  margin: 0;
  padding: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#root{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/*Productos*/
#listaProductos h1{
  color: #baa1a7;
}
#listaProductos{
  padding:10px;
  border:10px;
  text-align: center;
  justify-content: center;
  size:40%;
  border: 1px, solid,#baa1a7;
}
#listaProductos input{
  margin: 5px;
}
#listaProductos button{
  padding: 5px;
  text-align:center;
  margin:5px;
  color:white;
  background-color: #baa1a7;
  border:none;
}
#listaProductos button:hover{
  cursor:pointer;
}
#listaProductos ul{
  padding-left: 0;
  list-style-position: inside;
}

/*Tareas*/
#listaTareas h1 {
  color: #baa1a7;
}

#listaTareas {
  padding: 10px;
  border: 10px;
  text-align: center;
  justify-content: center;
  border: 1px solid #baa1a7;
}

#listaTareas input {
  margin: 5px;
  padding: 5px;
}

#listaTareas button {
  padding: 5px 10px;
  text-align: center;
  margin: 5px;
  color: white;
  background-color: #baa1a7;
  border: none;
}

#listaTareas button:hover {
  cursor: pointer;
}

#listaTareas ul {
  padding-left: 0;
  list-style-position: inside;
}

#listaTareas li {
  margin-bottom: 10px;
}
